<?php

/**
 * Database config template
 *
 *
 * @file     config.php
 * @category Configuration
 * @author   Víctor Téllez <tellez.victor@gmail.com>
 * @license  http://www.apache.org/licenses/LICENSE-2.0  Apache License 2.0
 */


$bdhost = 'localhost';
$bduser = 'localhost';
$bdpass = 'localhost';
$bdname = 'mrbs';

$pod_user_id = 'pod';

?>